.about{
    color: white;
    background-color: black;
    display: flex;
    justify-content: left;
    align-items: left;  
}
.dark{

    color: white;
    background-color: black;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: row;

}
.light{

    color: black;
    background-color: white;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: row;
  
}

.logo{

    margin-top: 5%;
    /*margin-left:5%;
    margin-bottom: 5%; */
    width: 40vh;
    height: 50vh;
    border-radius: 160px 90px;

}

.about-text{
    /* margin-top: 15%;
    margin-left: 5%;
    margin-bottom: 5%; */
    color: white;
    font-size: 25px;
    width: 90vh;
}


.dark-text{

    margin-top: 10%;
    margin-left: 5%;
    margin-bottom: 20%;
    color: white;
    font-size: 25px;
    width: 90vh;

}

.light-text{

    margin-top: 10%;
    margin-left: 5%;
    margin-bottom: 20%;
    color: black;
    font-size: 25px;
    width: 90vh;

}

.navLinkr{
    margin: 5px;
    color:blue;
    font-style:italic;
}