.about{
    color: white;
    background-color: black;
    display: flex;
    justify-content: left;
    align-items: left;
    
}

.logo{

    margin-top: 5%;
    margin-left:5%;
    margin-bottom: 5%;
    width: 50vh;
    height: 60vh;
    border-radius: 160px 100px;

}

.about-text{
    margin-top: 8%;
    margin-left: 5%;
    margin-bottom: 5%;
    color: white;
    font-size: 25px;
    width: 90vh;
}
.navLinkr{
    margin: 5px;
    color: lightblue;
}