.contact{
    text-align: center;
    color: white;
    font-size: 25px;
    background-color: black;
    padding-bottom:100%;
    
}
.headline{
    padding: 55px;
    font-size: 30px;
}

.navLinkc{
    margin: 15px;
    color: lightblue;



}