
.dark{
    text-align: center;
    color: white;
    font-size: 25px;
    background-color: black;
    padding-bottom:100%;
}

.light{
    text-align: center;
    color: black;
    font-size: 25px;
    background-color: white;
    padding-bottom:100%;
}

.headline{

    align-content: center;
    min-width: 100%;
    font-size: 30px;
   
}

.about-textc{

    margin-top: 15%;
    margin-left: 5%;
    margin-bottom: 5%;
    color: white;
    font-size: 25px;
    width: 70vh;

}
.navLinkc{

    margin-left: 5%;
    color: blue;
}
  




